.circulo {
    width: 100px; /* Establece el ancho del círculo */
    height: 100px; /* Establece la altura del círculo */
    border-radius:50%; /* Establece el radio de la esquina para que sea un círculo */
    background-color: rgb(255, 230, 0); /* Establece el color de fondo del círculo */
    border-style: solid; /* Establece el estilo del borde */
    margin-bottom: 10px; /* Establece el margen inferior del círculo */
    display: block; /* Hace que el círculo sea un bloque */
    margin-left: auto; /* Centra horizontalmente el círculo */
    margin-right: auto; /* Centra horizontalmente el círculo */
}

.rectangulo {
    width: 150px; /* Establece el ancho del rectángulo */
    height: 100px; /* Establece la altura del rectángulo */
    background-color: rgb(42, 165, 138); /* Establece el color de fondo del rectángulo */
    border-style: solid; /* Establece el estilo del borde */
    margin-bottom: 10px; /* Establece el margen inferior del rectángulo */
    display: block; /* Hace que el rectángulo sea un bloque */
    margin-left: auto; /* Centra horizontalmente el rectángulo */
    margin-right: auto; /* Centra horizontalmente el rectángulo */
}

.triangulo {
    width: 0; /* Establece el ancho del triángulo en 0 */
    height: 0; /* Establece la altura del triángulo en 0 */
    border: 150px solid transparent; /* Establece el borde del triángulo */
    border-top: 0; /* Establece el borde superior del triángulo en 0 */
    border-bottom: 150px solid rgb(232, 6, 176); /* Establece el borde inferior del triángulo */
    margin-left: auto; /* Centra horizontalmente el triángulo */
    margin-right: auto; /* Centra horizontalmente el triángulo */
    display: block;  /* Hace que el triángulo sea un bloque */
}

.rombo {
    width: 150px; /* Establece el ancho del rombo */
    height: 150px; /* Establece la altura del rombo */
    background-color: rgb(86, 226, 43); /* Establece el color de fondo del rombo */
    position: relative; /* Establece la posición relativa del rombo */
    transform: rotate(45deg); /* Rota el rombo 45 grados */
    margin-top: 50px; /* Establece el margen superior del rombo */
    margin-left: 40px; /* Establece el margen izquierdo del rombo */
    border-style: solid; /* Establece el estilo del borde */
    margin-left: auto; /* Centra horizontalmente el rombo */
    margin-right: auto;  /* Centra horizontalmente el rombo */
    display: block;  /* Hace que el rombo sea un bloque */
}